@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  transform: translate(-50%, 0);
}

.has-tooltip:hover .tooltip {
  top: calc(100% + 10px);
  opacity: 1;
  transition-delay: 0.5s;
}
